$basic_margin: 15px;
body {
  ul.sns {
    >li {
      display: inline-block;
      vertical-align: middle;
      &:not(:last-child) {
        margin-left: $basic_margin;
      }
    }
  }
  img#title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px auto auto -200px;
  }
}
