$basic_margin: 15px;
body {
  section#logo {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -67px auto auto -175px;
    z-index: 20;
    ul.sns {
      padding: 0;
      >li {
        display: inline-block;
        vertical-align: middle;
        &:not(:last-child) {
          margin-left: $basic_margin;
        }
      }
    }
    img#title {
      width: 350px;
      height: 134px;
      display: block;
      margin: 0 auto;
    }
  }
  h1 {
    margin: $basic_margin;
  }
  ul#tweets {
    margin: $basic_margin;
    padding: 0;
    position: relative;
    z-index: 10;
    >li {
      display: inline-block;
      list-style: none;
      >img {
        box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
      }
      >div.content {
        padding: $basic_margin;
        width: 200px;
        background: #fff;
        display: none;
        position: absolute;
        border-radius: 5px;
        border: solid 2px #000;
        &.hover {
          display: block;
          z-index: 30;
        }
      }
    }
  }
}
