<section id="logo">
  <img id="title" src="/images/cooljapan.png" alt="cooljapan" />
  <ul class="sns">
    <li>
    <div class="fb-like" 
      data-href="https://<%=request.host%>" 
      data-send="true" 
      data-layout="button_count" 
      data-show-faces="false"></div>
    </li>  
    <li>
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    </li>
    <li>
    <g:plusone size="small"></g:plusone>
    </li>
  </ul>
</section>
<ul id="tweets"></ul>
