<section id="logo">
  <img id="title" src="/images/cooljapan.png" alt="cooljapan" />
  <ul class="sns">
    <li>
    <div class="fb-like" 
      data-href="http://www.facebook.com/pages/Cool-Japan/338721102837072" 
      data-send="false" 
      data-layout="button_count" 
      data-show-faces="false"></div>
    </li>  
    <li>
    <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="cj_kaigi" data-via="CJ_Daily">Tweet</a>
    </li>
    <li>
    <g:plusone size="small"></g:plusone>
    </li>
    <li>
    <div data-plugins-type="mixi-favorite" data-service-key="b3e8fbe033dd38df05cea9d353d539957be0408a" data-size="medium" data-href="" data-show-faces="false" data-show-count="true" data-show-comment="true" data-width=""></div>
    </li>
  </ul>
</section>
<ul id="tweets"></ul>
