<ul class="sns">
  <li>
  <div class="fb-like" 
    data-href="https://<%=request.host%>" 
    data-send="true" 
    data-layout="button_count" 
    data-show-faces="false"></div>
  </li>  
</ul>
<img id="title" src="/images/cooljapan.png" alt="cooljapan" width="400" height="200" />
