<ul class="sns">
  <li>
  <div class="fb-like" 
    data-href="https://<%=request.host%>" 
    data-send="true" 
    data-layout="button_count" 
    data-show-faces="false"></div>
  </li>  
</ul>
it's cool

